* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  ol li {
    margin-bottom: 10px;
  }
  

  button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #f8bdfd;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #e37aec;
  }
  
  
  #result {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
  }
  